*{
    margin: 10px;
    padding: 5px;
}
button{
    color: orangered;
    font-size: larger;
    font-weight: 800;
    border: 5px solid rgb(137, 223, 8);
    border-radius: 10px;
}
h3{
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
}
#taka{
    display: inline-block;
    color: rgb(43, 40, 40);
    font-size: larger;
    border: 5px solid rgb(111, 7, 223);
    background-color: rgb(228, 133, 25);
}

ol{
    background-color: burlywood;
    border: 5px dotted gray;
    border-radius: 10px;
    width:900px;
    height: 200px;
    padding: 10px 20px;
}

li{
    color: deeppink;
}
#sorasoori{
    font-size: larger;
    font-style:italic;
    color: darkorchid;
}

img{
    border: 5px solid salmon;
    border-radius: 10px;
    
}